node_modules/bootstrap
MyProject/.angular
MyProject/.angular/cache/14.0.0/babel-webpack/0a990262083a05fdaa76a78e81dbd316.json
MyProject
MyProject/.angular/cache/14.0.0/babel-webpack/0d57f36d2c097cfba132da23c7cd6587.json
